{{> userinfo}}
<div class="cartContent">
    <h1>Carrito ID:<span> {{cid}}</span></h1>
    <table class="table_display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {{#each cart.products}}
            <tr>
                <td>{{this.product._id}}</td>
                <td>{{this.product.title}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.product.price}}</td>
                 <td>
                    <button class="delete-product" data-id="{{this.product._id}}">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <td></td>
                <td></td>
                <th>{{cart.total}}</th>
                <td> <button class="delete-cart" data-id="{{cid}}">Vaciar Carrito</button></td>
            </tr>
        </tfoot>
    </table>
    <form id="purchaseForm" action="/api/carts/{{cid}}/purchase" method="POST">
        <input type="hidden" name="cartId" value="{{cid}}">
        <button type="submit">Procesar Compra</button>
    </form>
</div>
<script>const cid = "{{cid}}"</script>
<script src="/js/functions.js"></script>
<script src="/js/cart.js"></script>
  