<div class="userInfo">
  <div class="user">
    {{#if user}}
    <p>Bienvenido: {{user.first_name}} {{user.last_name}} </p>
    {{#if user.email}}
    <p>email: {{user.email}} </p>
    {{else}}
    <p>Login From GitHub</p>
    {{/if}}
    <p>role: {{user.role}}</p>
  </div>
  <div class="botones">
    {{#unless pageCart}}
    <div><a href="/carts/{{user.cartId}}"><button>Ver carrito</button></a></div>
    {{/unless}}
    {{#unless pageProducts}}
    <div>
      <a href="/products"><button>Productos</button></a>
    </div>
    {{/unless}}
    {{#unless pageProfile}}
    <div>
      <a href="/profile"><button>Perfil</button></a>
    </div>
    {{/unless}}
    {{#unless pageChat}}
    <div><a href="/chat"><button>Chat</button></a></div>
    {{/unless}}
    {{#roleCheck user.role}} 
    {{#unless pageChat}}
    <div><a href="/users"><button>Users</button></a></div>
    {{/unless}}
    {{/roleCheck}}
    <div class="logout">
      <form action="/api/sessions/logout" method="POST">
        <button type="submit">Cerrar Sesión</button>
      </form>
    </div>
    {{else}}
    <p>Para comprar debe iniciar sesion</p>
    <div class="login">
      <a href="/">
        <button type="submit">Iniciar Sesión</button>
      </a>
    </div>
    {{/if}}
  </div>
</div>