<div>
    <h1>Productos</h1>

    <h5>Categorias para Filtrar</h5>
    <div class="categories" style="display:flex; margin_right:10px"> 
        <p style="margin-right:10px; border:1px solid black">
            <a href="/api/products">Todas</a>
        </p>
        {{#each categories}}
     <p style="margin-right:10px; border:1px solid black">
        <a href="/api/products?query={{this}}">{{this}}</a>
        </p>
    {{/each}}</div>
    <table>
        <thead>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Thumbnail</th>
            <th>Category</th>
            <th>Code</th>
            <th>Stock</th>
            <th>Accion</th>
        </thead>
        <tbody>
            {{#each results.payload}}
            <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.thumbnail}}</td>
            <td>{{this.category}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td><form action="/api/carts/" method="POST">
  <button type="submit" class="add-to-cart" data-id="{{id}}">Agregar al carrito</button>
  <input type="hidden" name="product" value="{{id}}"> </form></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
      <div class="pagination" style="text-align: center;">
        {{#if results.hasPrevPage}}
            <a href="{{results.prevLink}}">Anterior</a>
        {{/if}}
        &nbsp;&nbsp;
        {{#if results.hasNextPage}}
            <a href="{{results.nextLink}}">Siguiente</a>
        {{/if}}
    </div>
</div>
